In [14]:
import pymongo

In [16]:
import pandas as pd

In [15]:
'''# stringa di connessione 3.4 recuperata da Atlas https://www.mongodb.com/cloud/atlas/register
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies # nome del database'''

'# stringa di connessione 3.4 recuperata da Atlas https://www.mongodb.com/cloud/atlas/register\nclient = pymongo.MongoClient(\n    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")\ndb = client.sample_supplies # nome del database'

In [17]:
client = pymongo.MongoClient("mongodb://Livera2003:Waduge78&@cluster0-shard-00-00.uylmr.mongodb.net:27017,cluster0-shard-00-01.uylmr.mongodb.net:27017,cluster0-shard-00-02.uylmr.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-38dmxu-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.Livera1

In [21]:
result = pd.DataFrame(list(db.school.find()))
result

Empty DataFrame
Columns: []
Index: []

In [22]:
'''result = db.school.insert_many([{
    "_id" : 1,
    "name" : "Class 1",
    "students" : [  
        { "rollNo" : 10001, "name" : "Ram", "score" : 65 },
        { "rollNo" : 10002, "name" : "Shyam", "score" : 90 },
        { "rollNo" : 10003, "name" : "Mohan", "score" : 75 }       
        ]
},
{
    "_id" : 2,
    "name" : "Class 2",
    "students" : [  
        { "rollNo" : 20001, "name" : "Krishna", "score" : 88 },
        { "rollNo" : 20002, "name" : "Sohan", "score" : 91 },
        { "rollNo" : 20003, "name" : "Radhika", "score" : 82 },
        { "rollNo" : 20004, "name" : "Komal", "score" : 55 },
        { "rollNo" : 20005, "name" : "Sonam", "score" : 91 }            
        ]
},
{
    "_id" : 3,
    "name" : "Class 3",
    "students" : [  
        { "rollNo" : 30001, "name" : "Monika", "score" : 77 },      
        { "rollNo" : 30002, "name" : "Rahul", "score" : 81 }                
        ]
}])'''

In [23]:
result = pd.DataFrame(list(db.school.find()))
result

   _id     name                                           students
0    1  Class 1  [{'rollNo': 10001, 'name': 'Ram', 'score': 65}...
1    2  Class 2  [{'rollNo': 20001, 'name': 'Krishna', 'score':...
2    3  Class 3  [{'rollNo': 30001, 'name': 'Monika', 'score': ...

In [24]:
result = db.school.aggregate([
    { '$unwind' :'$students'}
])
dbRes = pd.DataFrame(list(result))
dbRes

   _id     name                                           students
0    1  Class 1      {'rollNo': 10001, 'name': 'Ram', 'score': 65}
1    1  Class 1    {'rollNo': 10002, 'name': 'Shyam', 'score': 90}
2    1  Class 1    {'rollNo': 10003, 'name': 'Mohan', 'score': 75}
3    2  Class 2  {'rollNo': 20001, 'name': 'Krishna', 'score': 88}
4    2  Class 2    {'rollNo': 20002, 'name': 'Sohan', 'score': 91}
5    2  Class 2  {'rollNo': 20003, 'name': 'Radhika', 'score': 82}
6    2  Class 2    {'rollNo': 20004, 'name': 'Komal', 'score': 55}
7    2  Class 2    {'rollNo': 20005, 'name': 'Sonam', 'score': 91}
8    3  Class 3   {'rollNo': 30001, 'name': 'Monika', 'score': 77}
9    3  Class 3    {'rollNo': 30002, 'name': 'Rahul', 'score': 81}

In [25]:
result = db.school.aggregate([
    { '$unwind' :'$students'},
    { "$sort": { "name": 1, "students.score": -1 } }
])
dbRes = pd.DataFrame(list(result))
dbRes

   _id     name                                           students
0    1  Class 1    {'rollNo': 10002, 'name': 'Shyam', 'score': 90}
1    1  Class 1    {'rollNo': 10003, 'name': 'Mohan', 'score': 75}
2    1  Class 1      {'rollNo': 10001, 'name': 'Ram', 'score': 65}
3    2  Class 2    {'rollNo': 20002, 'name': 'Sohan', 'score': 91}
4    2  Class 2    {'rollNo': 20005, 'name': 'Sonam', 'score': 91}
5    2  Class 2  {'rollNo': 20001, 'name': 'Krishna', 'score': 88}
6    2  Class 2  {'rollNo': 20003, 'name': 'Radhika', 'score': 82}
7    2  Class 2    {'rollNo': 20004, 'name': 'Komal', 'score': 55}
8    3  Class 3    {'rollNo': 30002, 'name': 'Rahul', 'score': 81}
9    3  Class 3   {'rollNo': 30001, 'name': 'Monika', 'score': 77}

In [26]:
result = db.school.aggregate([
    { '$unwind' :'$students'},
    { "$sort": { "name": 1, "students.score": -1 } },
    { "$group": {
        "_id": "$name",
        "name": { "$first": "$students.name" },
        "rollNo": { "$first": "$students.rollNo" },
        "score": { "$first": "$students.score" }
    }}
])
dbRes = pd.DataFrame(list(result))
dbRes

       _id   name  rollNo  score
0  Class 1  Shyam   10002     90
1  Class 3  Rahul   30002     81
2  Class 2  Sohan   20002     91

In [27]:
result = db.school.aggregate([
    { '$unwind': '$students'}, 
    { "$group": {
        "_id": "$name",
        "maxScore": {
            "$max": "$students.score"
        },
        "studentgrp": {
            "$push": {
                "class": "$name",
                "name": "$students.name",
                "rollNo": "$students.rollNo",
                "score": "$students.score"
            }
        }
       }
    }])
dbRes = pd.DataFrame(list(result))
dbRes

       _id  maxScore                                         studentgrp
0  Class 2        91  [{'class': 'Class 2', 'name': 'Krishna', 'roll...
1  Class 1        90  [{'class': 'Class 1', 'name': 'Ram', 'rollNo':...
2  Class 3        81  [{'class': 'Class 3', 'name': 'Monika', 'rollN...

In [28]:
result = db.school.aggregate([
    { '$unwind': '$students'}, 
    { "$group": {
        "_id": "$name",
        "maxScore": {
            "$max": "$students.score"
        },
        "studentgrp": {
            "$push": {
                "class": "$name",
                "name": "$students.name",
                "rollNo": "$students.rollNo",
                "score": "$students.score"
            }
        }
       }     
    }, {
    "$project": {
        '_id': 0,
        'toppers': {
            "$setDifference": [{
                    "$map": {
                        "input": "$studentgrp",
                        "as": "student",
                        "in": {
                            "$cond": [{
                                    "$eq": ["$maxScore", "$$student.score"]
                                },
                                "$$student",
                                False
                            ]
                        }
                    }
                },
                [False]
            ]
        }
 
    }
}
    ])
dbRes = pd.DataFrame(list(result))
dbRes

                                             toppers
0  [{'class': 'Class 1', 'name': 'Shyam', 'rollNo...
1  [{'class': 'Class 3', 'name': 'Rahul', 'rollNo...
2  [{'class': 'Class 2', 'name': 'Sohan', 'rollNo...

In [29]:
result = db.school.aggregate([
    { '$unwind': '$students'}, 
    { "$group": {
        "_id": "$name",
        "maxScore": {
            "$max": "$students.score"
        },
        "studentgrp": {
            "$push": {
                "class": "$name",
                "name": "$students.name",
                "rollNo": "$students.rollNo",
                "score": "$students.score"
            }
        }
       }     
    }, {
    "$project": {
        '_id': 0,
        'toppers': {
            "$setDifference": [{
                    "$map": {
                        "input": "$studentgrp",
                        "as": "student",
                        "in": {
                            "$cond": [{
                                    "$eq": ["$maxScore", "$$student.score"]
                                },
                                "$$student",
                                False
                            ]
                        }
                    }
                },
                [False]
            ]
        }
 
    }
},
{
    '$unwind': '$toppers'
}
    ])
dbRes = pd.DataFrame(list(result))
dbRes

                                             toppers
0  {'class': 'Class 2', 'name': 'Sohan', 'rollNo'...
1  {'class': 'Class 2', 'name': 'Sonam', 'rollNo'...
2  {'class': 'Class 3', 'name': 'Rahul', 'rollNo'...
3  {'class': 'Class 1', 'name': 'Shyam', 'rollNo'...

In [30]:
result = db.school.aggregate([
    { '$unwind': '$students'}, 
    { "$group": {
        "_id": "$name",
        "maxScore": {
            "$max": "$students.score"
        },
        "studentgrp": {
            "$push": {
                "class": "$name",
                "name": "$students.name",
                "rollNo": "$students.rollNo",
                "score": "$students.score"
            }
        }
       }     
    }, {
    "$project": {
        '_id': 0,
        'toppers': {
            "$setDifference": [{
                    "$map": {
                        "input": "$studentgrp",
                        "as": "student",
                        "in": {
                            "$cond": [{
                                    "$eq": ["$maxScore", "$$student.score"]
                                },
                                "$$student",
                                False
                            ]
                        }
                    }
                },
                [False]
            ]
        }
 
    }
},
{
    '$unwind': '$toppers'
}, {
    '$project': {
        'class': "$toppers.class",
        'name': "$toppers.name",
        'rollNo': "$toppers.rollNo",
        'score': "$toppers.score"
    }
}
    ])
dbRes = pd.DataFrame(list(result))
dbRes

     class   name  rollNo  score
0  Class 1  Shyam   10002     90
1  Class 2  Sohan   20002     91
2  Class 2  Sonam   20005     91
3  Class 3  Rahul   30002     81

----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------

In [31]:
#imprtare il database
result = pd.DataFrame(list(db.vendite.find()))
result

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93cd005,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 65, 'email': 'me@lih.st...",False,Phone,{'age': 24}
1,5bd761dcae323e45a93cd025,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 73, 'email': 'hegbif@lu...",False,Online,{'age': 24}
2,5bd761dcae323e45a93cd015,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 68, 'email': 'apokas@mi...",False,Online,{'age': 24}
3,5bd761dcae323e45a93cd0c4,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 59, 'email': 'jul@oruso...",False,In store,{'age': 24}
4,5bd761dcae323e45a93cd04f,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 61, 'email': 'ewha@oc.k...",False,In store,{'age': 24}
...,...,...,...,...,...,...,...,...
308,5bd761deae323e45a93ce1fa,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Austin,"{'gender': 'M', 'age': 64, 'email': 'ducifes@j...",False,Online,{'age': 24}
309,5bd761deae323e45a93ce343,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 60, 'email': 'miwacpe@b...",False,Online,{'age': 24}
310,5bd761deae323e45a93ce2ac,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 63, 'email': 'ir@rartaw...",False,Online,{'age': 24}
311,5bd761deae323e45a93ce34b,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 63, 'email': 'beihadu@k...",False,In store,{'age': 24}
312,5bd761deae323e45a93ce23e,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 66, 'email': 'dujum@kep...",False,In store,{'age': 24}

In [35]:
#fare un $group per trovare il valore massimo sul campo customer.age, utilizzxando il push inseriamo i dati all'interno di un nuovo campoo che si chiama  customerdata
result = db.vendite.aggregate([{ "$group": {"_id": "maxAge","maxAge": {"$max": "$customer.age"},
        "customerdata": {"$push": {"age": "$customer.age", "email": "$customer.email"}}}}])
df = pd.DataFrame(list(result))
df

      _id  maxAge                                       customerdata
0  maxAge      91  [{'age': 65, 'email': 'me@lih.st'}, {'age': 73...

In [41]:
#fare un $unwind per estrasse i singoli cutomer dalla lista customerdata
result = db.vendite.aggregate([{ "$group": {"_id": "maxAge","maxAge": {"$max": "$customer.age"},
        "customerdata": {"$push": {"age": "$customer.age", "email": "$customer.email"}}}},{'$unwind': '$customerdata'}])
df = pd.DataFrame(list(result))
df

        _id  maxAge                                customerdata
0    maxAge      91           {'age': 65, 'email': 'me@lih.st'}
1    maxAge      91       {'age': 73, 'email': 'hegbif@lun.to'}
2    maxAge      91       {'age': 68, 'email': 'apokas@miz.tg'}
3    maxAge      91       {'age': 59, 'email': 'jul@orusos.mn'}
4    maxAge      91          {'age': 61, 'email': 'ewha@oc.ki'}
..      ...     ...                                         ...
308  maxAge      91       {'age': 64, 'email': 'ducifes@je.pw'}
309  maxAge      91      {'age': 60, 'email': 'miwacpe@ban.pa'}
310  maxAge      91        {'age': 63, 'email': 'ir@rartaw.me'}
311  maxAge      91  {'age': 63, 'email': 'beihadu@kokakip.bv'}
312  maxAge      91      {'age': 66, 'email': 'dujum@kepiw.ge'}

[313 rows x 3 columns]

In [34]:
#piu vechchi clienti (fare un confronto tra max age e customerdata.age per vedere sono uguali)
# si usa l'operatore $match.

In [43]:
result = db.vendite.aggregate([
     
    { "$group": {
        "_id": "maxAge",
        "maxAge": {
            "$max": "$customer.age"
        },
        "customerdata": {
            "$push": {
                "age": "$customer.age",
                "email": "$customer.email"
            }
        }}
       },
       
      {'$unwind': '$customerdata'
    },
    {'$match':{'$expr':{"$eq":["$maxAge", "$customerdata.age"]}}}
    ])
df = pd.DataFrame(list(result))
df

      _id  maxAge                              customerdata
0  maxAge      91   {'age': 91, 'email': 'wuzamfud@sur.mo'}
1  maxAge      91     {'age': 91, 'email': 'ne@potadto.vg'}
2  maxAge      91  {'age': 91, 'email': 'kiagi@rudhito.su'}